/* font-family: 'Oxygen', sans-serif;

font-family: 'Ubuntu', sans-serif; */

h1 {
    background-color: #942911;
    color: whitesmoke;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h4, h6 {
    padding-top: ;
    padding-bottom: ;
    margin-bottom: ;
    font-family: 'Ubuntu', sans-serif;
}

.card {
    margin: 10px;
    background-color: #cbab2a;
}

.list-group-item {
    background-color: #cbab2a;
    font-family: 'Oxygen', sans-serif;
}